<ul>
  <li <%= 'class="active"'.html_safe if action_name == 'index' %>>
    <%= link_to refinery.admin_inquiries_inquiries_path,
                class: 'icon-small icon-with-text email-icon' do %>
      <%= t('.inbox') %>
      <i class="items-count"><%= "(#{inbox_count})" if inbox_count > 0 -%></i>
    <% end -%>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'archived' %>>
    <%= link_to refinery.archived_admin_inquiries_inquiries_path,
                class: 'icon-small icon-with-text folder-icon' do %>
      <%= t('.archived') -%>
      <i class="items-count"><%= "(#{archived_count})" if archived_count > 0 -%></i>
    <% end %>
  </li>
  <li <%= 'class="active"'.html_safe if action_name == 'spam' %>>
    <%= link_to refinery.spam_admin_inquiries_inquiries_path,
                class: 'icon-small icon-with-text spam-icon' do %>
      <%= t('.spam') -%>
      <i class="items-count" ><%= "(#{spam_count})" if spam_count > 0 -%></i>
    <% end %>
  </li>
  <li>
    <%= link_to t('.update_notified'),
                  refinery.edit_admin_inquiries_setting_path(:notification_email_recipients),
                  class: 'icon-small icon-with-text setting-edit-icon' %>
  </li>
  <li>
    <%= link_to t('.edit_confirmation_email'),
                refinery.edit_admin_inquiries_setting_path(:confirmation_email),
                class: 'icon-small icon-with-text setting-edit-icon' %>
  </li>
</ul>
